<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 d-block">
      <div class="text-center">
        <img
          src="./assets/images/jackie_photo.png"
          alt="Photo of Jackie"
          class="rounded float-md-left mr-md-3 mb-3"
        />
      </div>
      <p>
        Hi, I’m Jackie. I’m a full-stack software engineer with a passion for
        building pragmatic software that provides an awesome user experience.
        I’ve been interested and involved in software development since 2009,
        when I was immersed in a programming environment during an undergraduate
        internship. I enjoyed it so much that I considered switching my major at
        the University of Wisconsin from industrial engineering to computer
        science, but I was so close to finishing that it seemed impractical;
        instead, I began working on (and eventually completed) a CS minor.
      </p>
      <p>
        My first full-time position was in 2011 at SPX, a Fortune 500 company
        that makes power transformers. I completed rotations in continuous
        improvement and strategic sourcing but ultimately decided to focus on
        industrial engineering. In this role, I implemented projects for and
        advised the metal fabrication operations manager. I also wrote SAP
        formula codes for dynamic bills of material that determined
        manufacturing routes. This “light” coding made me really miss the deep
        challenges and problem solving that I experienced while programming, so
        I began working on a full computer science degree during my nights and
        weekends. Partway through this degree in 2014, I moved from SPX to
        FedEx, where I continued to gain valuable engineering, project
        management, and logistics experience. The tasks I enjoyed the most
        involved writing SQL queries to pull data for complex optimization
        projects that I designed and implemented.
      </p>
      <p>
        I left FedEx in 2018 to pursue another long-term goal of mine:
        completing a “thru-hike” of the Pacific Crest Trail. This was an
        incredible experience that required large amounts of planning,
        dedication, and grit to complete.
      </p>
      <p>
        Backpacking adventure (and CS degree) in the books, I made the switch
        into software engineering by joining a consulting company named
        MacGregor Partners. We made SaaS for package tracking and inventory
        management, which allowed me to leverage my logistics experience while
        working as a full-stack developer writing in Java, Spring, Hibernate,
        MySQL, and Angular. The 3-person team I worked on created database
        designs from scratch, used crazy 8s to create seamless user interface
        designs, performed multi-round code reviews, and verified success by
        writing unit, integration, and end-to-end tests. The startup environment
        here was exciting, but it confirmed my preference for larger companies.
        I moved to Northwestern Mutual in 2020, where I worked with an
        international team to review and maintain old enterprise code, update
        servers from HP-UX to UCP, perform risk engineering, write scripting for
        compliance feeds, and more. I also developed and maintained a compliance
        portal website and REST APIs using React, Python, Java, Spring, and SQL.
      </p>
      <p>
        When I’m not working, I enjoy a variety of hobbies including rock
        climbing, “thru-hiking”, running, photography, and traveling.
      </p>
      <p>
        Please view my
        <a [routerLink]="['portfolio']" class="text-info">portfolio</a> to see a
        selection of personal projects I've worked on.
      </p>
    </div>
  </div>
</div>
