<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 d-block">
            <div class="text-center"><img src="./assets/images/jackie_photo.png" alt="Photo of Jackie"
                    class="rounded float-md-left mr-md-3 mb-3"></div>
            <p>Hi, I’m Jackie. I have 7 years of experience working as an industrial engineer and am working to switch
                careers into the computer science field. I have a B.S. in industrial engineering and a B.S. in computer
                science. Here is my journey.</p>
            <p>I attended the University of Wisconsin - Madison for my undergrad in industrial engineering. My first
                co-op as an engineer was at a small company that made embedded computer hardware, where I spent a lot of
                time with people that programmed all day. This is where I first became curious about the computer
                science field. I had to learn HTML one of my first days on the job so I could write documentation for
                their quality program and add it to their internal wiki system. Once I got back to school the following
                semester, I decided to add on a computer science certificate to my major. I really enjoyed my
                programming classes, but I was almost done with my industrial engineering degree and didn’t feel that
                switching majors was a practical option. So, I graduated with my B.S. in industrial engineering and
                accepted a full time position as part of a two year rotational program at SPX. I completed rotations in
                continuous improvement, industrial engineering, and strategic sourcing before taking a full time role
                there as an industrial engineer.</p>
            <p>At this point in my career, I wasn't sure where I saw myself going next. I missed the challenges,
                learning, and problem solving that I experienced while programming. So, I made the decision to return to
                school part time for a full degree in computer science at Oregon State University through their online
                post-baccalaureate program. I completed the program over two years while working full time, which
                involved spending most of my nights and weekends studying and coding. During my summer break, I accepted
                a position at FedEx SmartPost, where I worked for three and a half years. In this role, I continued to
                gain valuable engineering experience, which I hope to apply to a more technical role in the future. I
                left this role earlier this year to complete a thru-hike of the Pacific Crest Trail, another long term
                goal of mine. Now that I'm back, I'm excited to make coding a large part of my next career.</p>
            <p>When I’m not working, I enjoy a variety of hobbies including rock climbing, hiking, running, photography,
                and traveling.</p>
            <p>Please view my <a [routerLink]="['portfolio']" class="text-info">portfolio</a> to see the projects I worked on during school.</p>
        </div>
    </div>
</div>