<div class="d-flex row justify-content-center align-items-center w100">
    <a href="https://www.linkedin.com/in/jackie-lamb" target="_blank"><img src="./assets/images/linkedin-wrap.png"
            alt="LinkedIn Logo" class="social-icon"></a>
    <a href="https://github.com/jackielamb" target="_blank"><img src="./assets/images/github-wrap.png" alt="GitHub Logo"
            class="social-icon"></a>
    <a href="mailto:jlamb@uwalumni.com?subject=GitHub_email"><img src="./assets/images/mail-64.png"
            class="social-icon"></a>
</div>