<div class="container">
    <div class="row justify-content-center">
        <div class="d-block mx-3 mx-md-0">

            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{recipeWebsite.title}}</h5>
                            <h6 class="card-subtitle mb-2">Java Techdegree - Treehouse, Winter 2020</h6>
                            <img src={{recipeWebsite.photoLocation}} class="photo float-left mr-1 pointer"
                                alt="Photo of recipe website" (click)="openPhotoModal(recipeWebsite)">
                            <p class="card-text">Developed a recipe website featuring a REST API developed in Java,
                                Spring, Hibernate, and Thymeleaf. This was the final project for a Java Techdegree from
                                an online learning community called Treehouse. A user can create an account, sign in,
                                view their favorite recipes, search for recipes by name, create and update recipes, and
                                view recipes.
                                <br> <a href="https://github.com/jackielamb/recipe-site"
                                    class="card-link text-info">Github Code</a></p>
                        </div>
                        <div class="card-body">
                            <span class="skill">Java</span>
                            <span class="skill">Spring</span>
                            <span class="skill">Hibernate</span>
                            <span class="skill">Thymeleaf</span>
                            <span class="skill">IntelliJ IDEA</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{askMilwaukee.title}}</h5>
                            <h6 class="card-subtitle mb-2">Hack-A-Pipeline Hackathon - Milwaukee, WI, Spring 2019</h6>
                            <img src={{askMilwaukee.photoLocation}} class="photo float-left mr-1 pointer"
                                alt="Photo of Ask Milwaukee website" (click)="openPhotoModal(askMilwaukee)">
                            <p class="card-text">Designed an Alexa skill as part of a hackathon team. A user could ask
                                Alexa, "Ask Milwaukee - Where is the nearest library?". Alexa would reply with the
                                street address and hours of operation based on the user's location. This project was
                                pitched by the Milwaukee CIO, and my team won second place at the hackathon.</p>
                        </div>
                        <div class="card-body">
                            <span class="skill">Node.js</span>
                            <span class="skill">AWS Lambda</span>
                            <span class="skill">Amazon Alexa</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{androidApp.title}}</h5>
                            <h6 class="card-subtitle mb-2">Senior Design Project - Oregon State University, Spring 2015
                            </h6>
                            <img src={{androidApp.photoLocation}} class="photo float-left mr-1 pointer"
                                alt="Photo of Android recycling app" (click)="openPhotoModal(androidApp)">
                            <p class="card-text">Developed an Android application for recycling household appliances and
                                materials using Java in Android Studio for a company in Corvallis, OR. Focused on
                                creating the app itself while team members created a MySQL database, API, and website.
                                <br> <a href="https://github.com/jackielamb/Android-Application-for-Recycling"
                                    class="card-link text-info">Github Code</a></p>
                        </div>
                        <div class="card-body">
                            <span class="skill">Java</span>
                            <span class="skill">Android Studio</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{menuApp.title}}</h5>
                            <h6 class="card-subtitle mb-2">Intro to Usability Engineering - Oregon State University,
                                Spring 2014</h6>
                            <img src={{menuApp.photoLocation}} class="photo float-left mr-1 pointer"
                                alt="Photo of user interface design" (click)="openPhotoModal(menuApp)">
                            <p class="card-text">Created a user interface for a restaurant menu app using myBalsamiq in
                                a team of three. Followed a design process called PRICPE: Pre-dispositions, Research,
                                Insights, Concepts, Prototypes, and Evaluate. Performed field research, created story
                                boards and initial prototypes, performed user testing, and modified prototype based on
                                feedback.</p>
                        </div>
                        <div class="card-body">
                            <span class="skill">Balsamiq</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{photoApp.title}}</h5>
                            <h6 class="card-subtitle mb-2">Web Development - Oregon State University, Winter 2014</h6>
                            <img src={{photoApp.photoLocation}} class="photo float-left mr-1 pointer"
                                alt="Photo of photo website" (click)="openPhotoModal(photoApp)">
                            <p class="card-text">Designed a website with a user login for storing a user’s photos. Users
                                could upload and view their photos. When uploading a file, a progress bar made using
                                AJAX showed the upload status. Website and database were written in HTML, CSS, PHP,
                                MySQL, and JavaScript.
                                <br> <a href="https://github.com/jackielamb/Photo-Storage-Website"
                                    class="card-link text-info">Github Code</a></p>

                        </div>
                        <div class="card-body">
                            <span class="skill">HTML</span>
                            <span class="skill">CSS</span>
                            <span class="skill">mySQL</span>
                            <span class="skill">PHP</span>
                            <span class="skill">Javascript</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{rogo.title}}</h5>
                            <h6 class="card-subtitle mb-2">Tools &amp; Environments for Optimization - UW-Madison,
                                Spring
                                2011</h6>
                            <img src={{rogo.photoLocation}} class="photo float-left mr-1 pointer" alt="Photo of rogo"
                                (click)="openPhotoModal(rogo)">
                            <p class="card-text">Used GAMS software to write and solve an optimization problem for the
                                game of Rogo. Designed a Java applet that allowed the user to play and solve the puzzle.
                                Displayed problem analysis and description on NEOS Wiki. <br> <a
                                    href="https://neos-guide.org/content/rogo-puzzle" class="card-link text-info">Neos
                                    Guide</a></p>
                        </div>
                        <div class="card-body">
                            <span class="skill">GAMS</span>
                            <span class="skill">Java</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>