<div class="container">
    <div class="row mr-n10 ml-n10">
        <div class="col-10">
            <a [routerLink]="['']" class="float-left">
                <h1>Jackie Lamb</h1>
            </a>
        </div>

        <div class="col-2">
            <div ngbDropdown display="dynamic" placement="bottom-right" class="mt-2 float-md-right">
                <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
                    <i class="fas fa-bars"></i>
                  </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                    <button ngbDropdownItem class="btn btn-outline-dark"><a [routerLink]="['/']">Home</a></button>
                    <button ngbDropdownItem class="btn btn-outline-dark"><a [routerLink]="['portfolio']">Portfolio</a></button>
                </div>
            </div>

        </div>

    </div>
</div>